@font-face {
  font-family: 'ExoThin';
  src: url("../font/ExoThin.woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ExoRegular';
  src: url("../font/ExoRegular.woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-github:before {
  content: "\e611"; }

.icon-douban:before {
  content: "\e612"; }

.icon-kanguo:before {
  content: "\e600"; }

.icon-xihuan:before {
  content: "\e601"; }

.icon-pinglun:before {
  content: "\e602"; }

.icon-rili:before {
  content: "\e610"; }

.icon-goushengxiao:before {
  content: "\e617"; }

.icon-liulan:before {
  content: "\e603"; }

.icon-ux14006382562102623:before {
  content: "\e604"; }

.icon-github1:before {
  content: "\e613"; }

.icon-zhankai:before {
  content: "\e605"; }

.icon-daohang:before {
  content: "\e606"; }

.icon-sousuo:before {
  content: "\e616"; }

.icon-icon:before {
  content: "\e607"; }

.icon-shouqi:before {
  content: "\e608"; }

.icon-huanyipi:before {
  content: "\e609"; }

.icon-pengyouquan:before {
  content: "\e60a"; }

.icon-xinlang:before {
  content: "\e60b"; }

.icon-weixin:before {
  content: "\e60c"; }

.icon-gengduo:before {
  content: "\e60d"; }

.icon-xihuan1:before {
  content: "\e60e"; }

.icon-fanhuidingbu:before {
  content: "\e614"; }

.icon-weibiaoti1:before {
  content: "\e615"; }

.icon-guanyuwo:before {
  content: "\e60f"; }

img {
  max-width: 100%;
  height: auto;
  width: auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

input {
  border: 0;
  outline: none; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #FCFAF2;
  background-image: url(../images/texture.png);
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000; }

@media only screen and (min-width: 320px) and (max-width: 360px) {
  html {
    font-size: 67% !important; } }
@media only screen and (min-width: 360px) and (max-width: 384px) {
  html {
    font-size: 80% !important; } }
@media only screen and (min-width: 386px) and (max-width: 540px) {
  html {
    font-size: 86% !important; } }
@media only screen and (min-width: 540px) and (max-width: 640px) {
  html {
    font-size: 85% !important; } }
@media only screen and (min-width: 640px) and (max-width: 720px) {
  html {
    font-size: 100% !important; } }
@media only screen and (min-width: 1024px) {
  html {
    font-size: 120% !important; } }
@media only screen and (min-width: 1920px) {
  html {
    font-size: 125% !important; } }
@-webkit-keyframes fadeOutInOutSwirl {
  0% {
    opacity: 1; }
  25% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(90deg); }
  75% {
    transform: rotateZ(180deg); }
  100% {
    transform: rotateZ(360deg); } }
@-webkit-keyframes jellyShake {
  0%, 100% {
    -webkit-transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-2px); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(2px); } }
@-moz-keyframes jellyShake {
  0%, 100% {
    -webkit-transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-2px); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(2px); } }
@-webkit-keyframes rocketShake {
  0%, 100% {
    -webkit-transform: translateY(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-2px);
    -webkit-color: #333; }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(2px);
    -webkit-color: #333; } }
#container {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%; }

#header {
  margin-bottom: 3rem; }
  #header .wrapper {
    width: 100%;
    min-height: 20rem;
    background-color: #006284;
    background-image: url(../images/texture.png);
    background-size: cover; }
    #header .wrapper .declare {
      text-align: center;
      padding-top: 4.2rem; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #header .wrapper .declare {
          padding-top: 4.5rem; } }
      #header .wrapper .declare img {
        border-radius: 60%;
        width: 130px;
        height: 130px;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 20px #000000; }
        #header .wrapper .declare img:hover {
          -webkit-animation-name: fadeOutInOutSwirl;
          -webkit-animation-duration: .3s; }
      #header .wrapper .declare p {
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        vertical-align: top;
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: .3rem;
        color: #BDC0BA;
        cursor: pointer; }
        @media screen and (min-width: 320px) and (max-width: 540px) {
          #header .wrapper .declare p {
            font-size: 1.6rem; } }
        #header .wrapper .declare p:hover {
          transition: 1s ease-out;
          color: #e84c3d; }
        #header .wrapper .declare p del {
          font-size: 2.4rem; }
          @media screen and (min-width: 320px) and (max-width: 540px) {
            #header .wrapper .declare p del {
              font-size: 1.6rem; } }
        #header .wrapper .declare p i {
          color: #00AA90;
          font-size: 2.6rem; }
          @media screen and (min-width: 320px) and (max-width: 540px) {
            #header .wrapper .declare p i {
              font-size: 1.6rem; } }
    #header .wrapper form {
      float: right;
      height: 3rem;
      line-height: 3.5rem;
      margin-right: 1.2rem; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #header .wrapper form {
          line-height: 4.5rem; } }
      #header .wrapper form input {
        width: 0;
        height: 0.8rem;
        border-radius: 10px;
        padding: 0.25rem 0.3rem;
        opacity: 0; }
        @media screen and (min-width: 320px) and (max-width: 540px) {
          #header .wrapper form input {
            height: 1.4rem; } }
        #header .wrapper form input:focus {
          outline: none; }
      #header .wrapper form i {
        color: #BDC0BA;
        display: inline-block;
        cursor: pointer;
        font-size: 1rem; }
        @media screen and (min-width: 320px) and (max-width: 540px) {
          #header .wrapper form i {
            font-size: 1.6rem; } }

#mainNav {
  width: 50%;
  height: 3rem;
  float: left; }
  @media screen and (min-width: 320px) and (max-width: 540px) {
    #mainNav {
      display: none; } }
  #mainNav ul {
    width: 20rem;
    margin: 0 auto;
    padding: 0;
    margin: 0; }
    #mainNav ul li {
      float: left;
      border-right: 1px #1E88A8 solid;
      margin: 1rem 0.5rem; }
      #mainNav ul li a {
        padding: 0.5rem;
        color: #D9D9D9;
        font-size: 1.5rem;
        font-family: "ExoThin";
        letter-spacing: 0.2rem; }
        @media screen and (min-width: 1024px) and (max-width: 1920px) {
          #mainNav ul li a {
            font-size: 1rem; } }
        #mainNav ul li a:hover {
          transition: .5s ease-out;
          color: #E87A90; }
  #mainNav i {
    float: right;
    margin: 1.3rem 5rem 0 0;
    font-size: 1.2rem;
    color: #BDC0BA;
    cursor: pointer; }

#phoneNavShowBtn {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: none;
  font-size: 2.8rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: #BDC0BA;
  transition: transform .5s ease-out; }
  @media screen and (min-width: 320px) and (max-width: 540px) {
    #phoneNavShowBtn {
      display: block;
      font-size: 2.8rem; } }

.animate {
  -webkit-transform: translate3d(20rem, 0, 0);
  opacity: 1; }

#phoneNav {
  width: 20rem;
  position: absolute;
  top: 0;
  left: -20rem;
  background: #333;
  z-index: 9999;
  -webkit-transition: -webkit-transform .3s ease-in; }
  #phoneNav ul {
    width: 100%; }
    #phoneNav ul li {
      float: left;
      width: 100%;
      border-top: 1px solid #4d4d4d;
      border-bottom: 1px solid #1a1a1a;
      height: 3rem;
      cursor: pointer; }
      #phoneNav ul li:hover {
        transition: 1s ease-out;
        box-shadow: inset 0 0 15px 3px #222; }
      #phoneNav ul li input {
        float: left;
        height: 2rem;
        border: 0;
        border-radius: 0.8rem;
        padding-left: 0.5rem;
        margin: 0.2rem 0 0 2rem;
        color: #000000; }
        #phoneNav ul li input:focus {
          outline: none; }
      #phoneNav ul li #phoneNavHideBtn {
        cursor: pointer;
        font-size: 2rem; }
      #phoneNav ul li #searchBtn {
        float: left;
        text-indent: 0.2rem;
        font-size: 2rem;
        padding: 0.2rem 0 0 0.6rem; }
      #phoneNav ul li a {
        width: 100%;
        height: 100%;
        float: left;
        display: block;
        color: #dddddd;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-family: "ExoThin";
        letter-spacing: 0.2rem; }

#content {
  margin: 0 auto;
  text-align: center;
  min-height: 18.2rem;
  height: auto;
  padding-bottom: 3rem; }
  #content article {
    position: relative;
    margin: 0 auto 3rem;
    padding-top: 0.4rem;
    min-height: 1rem;
    max-heihgt: 30rem;
    overflow-y: hidden;
    width: 40rem;
    background: #FCFAF2;
    border: 1px solid #aaa;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 320px) and (max-width: 540px) {
      #content article {
        width: 25rem; } }
    #content article h2 {
      padding: 0;
      margin: 0;
      margin: 0.3rem 0 0.5rem;
      color: #515865;
      font-family: "ExoThin";
      letter-spacing: 0.2rem;
      cursor: pointer; }
      #content article h2:hover {
        transition: 1s color ease-out;
        text-shadow: 0.1rem 0.1rem 0.1rem #fff;
        color: #e32d40; }
      #content article h2:visited {
        transition: 1s;
        color: #e32d40; }
    #content article p {
      font-size: 0.8rem;
      font-family: "ExoRegular", 'Microsoft YaHei';
      font-weight: lighter;
      margin: 0.4rem 0.7rem 0 0.7rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #CCC;
      letter-spacing: 0.2rem;
      text-align: left;
      color: #505255; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #content article p {
          font-size: 1rem;
          font-weight: lighter; } }
    #content article p:first-letter {
      float: left;
      font-size: 1.6rem;
      font-weight: lighter;
      color: #e32d40; }
    #content article div {
      font-size: 0.8rem;
      margin: 0.25rem 0.7rem;
      text-align: left; }
      #content article div span {
        margin-left: 0.4rem;
        cursor: pointer; }
        #content article div span b {
          font-weight: lighter;
          font-family: "ExoRegular"; }
        #content article div span img {
          width: auto;
          height: auto; }
      #content article div span:first-child {
        margin-left: 0; }

#duoshuoCommentForm {
  max-width: 40rem;
  margin: 0 auto;
  opacity: 0; }
  @media screen and (min-width: 320px) and (max-width: 540px) {
    #duoshuoCommentForm {
      max-width: 25rem; } }
  #duoshuoCommentForm #ds-thread #ds-reset .ds-post-button {
    background-color: #5DAC81;
    color: #4298ba;
    font-family: "ExoThin"; }
  #duoshuoCommentForm #ds-thread #ds-reset .ds-sort {
    display: none; }
  #duoshuoCommentForm #ds-thread #ds-reset .ds-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 0 -1px 0 #333;
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out; }
  #duoshuoCommentForm #ds-thread #ds-reset .ds-avatar img:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), inset 0 0 20px white;
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), inset 0 0 20px white;
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg); }
  #duoshuoCommentForm #ds-thread #ds-reset .ds-meta {
    display: none; }
  #duoshuoCommentForm #ds-thread #ds-reset .ds-replybox .ds-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%; }
  #duoshuoCommentForm .ds-recent-comments, #duoshuoCommentForm .ds-powered-by {
    display: none; }

#footer {
  width: 100%;
  height: 5rem;
  padding: .5rem 0;
  background-color: #262a30;
  background-image: url(../images/texture.png);
  bottom: 0;
  clear: both; }
  #footer p:first-child {
    color: #999; }
  #footer p {
    margin: 1rem auto 0;
    text-align: center;
    vertical-align: baseline;
    font-family: "ExoThin";
    color: #BDC0BA; }
    #footer p a {
      margin-left: 1rem; }
      #footer p a i {
        color: black;
        font-size: 1.3rem;
        cursor: pointer; }
        #footer p a i:hover {
          -webkit-animation-name: jellyShake;
          -webkit-animation-duration: 1s;
          transition: .6s ease-out; }
    #footer p a:first-child {
      margin-left: 0;
      font-size: 1.2rem; }
    #footer p a:nth-child(2) i {
      color: #E6162D; }
    #footer p a:nth-child(3) i {
      color: #5DAC81; }
    #footer p a:nth-child(4) i {
      color: #FFC028; }

.returnViewTop {
  width: 100%; }
  .returnViewTop i {
    position: fixed;
    right: 5rem;
    bottom: 1.2rem;
    z-index: 4;
    font-size: 3rem;
    cursor: pointer; }
    @media screen and (min-width: 320px) and (max-width: 540px) {
      .returnViewTop i {
        right: 3px;
        bottom: 5px; } }
    .returnViewTop i:hover {
      -webkit-animation-name: rocketShake;
      -webkit-animation-duration: .5s; }

#signIn {
  width: 25rem;
  height: 20rem;
  padding-top: 2rem;
  text-align: center;
  border-radius: 0.3rem;
  margin: 6rem auto 0 auto;
  background: #fff;
  box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
  opacity: 0; }
  #signIn h1 {
    padding: 0;
    margin: 0;
    font-family: "ExoThin";
    font-size: 1.3rem;
    color: #4298ba; }
  @media screen and (min-width: 320px) and (max-width: 540px) {
    #signIn {
      margin: 8rem auto;
      height: 25rem; } }
  #signIn div {
    width: 25rem;
    margin: 2rem auto; }
    @media screen and (min-width: 320px) and (max-width: 540px) {
      #signIn div {
        margin: 2.4rem auto; } }
    #signIn div input {
      width: 16rem;
      height: 2rem;
      font-size: 1.1rem;
      font-weight: bold;
      text-indent: 0.3rem;
      color: #1a1a1a;
      border: 1px solid #aaa;
      border-radius: 0.3rem;
      letter-spacing: 1px; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #signIn div input {
          width: 18rem;
          height: 2.6rem;
          font-size: 1.3rem;
          text-indent: 0.3rem; } }
      #signIn div input:focus {
        outline: none;
        border: 2px solid #95b99d;
        box-shadow: 0 1px 2px #95b93d; }
    #signIn div button {
      width: 16rem;
      height: 2.3rem;
      border: 0;
      border-radius: 0.3rem;
      background: #95b93d;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      color: #fff; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #signIn div button {
          width: 18rem;
          height: 2.6rem;
          font-size: 1.4rem;
          letter-spacing: 0.6rem; } }
      #signIn div button:focus {
        outline: hidden;
        transition: 1s ease-out;
        background: #4298ba; }
      #signIn div button:visited {
        outline: hidden;
        background: #00755E; }

#postArticleNav {
  margin: 2rem auto;
  min-height: 1.5rem;
  width: 40rem;
  padding: 0 2rem; }
  #postArticleNav nav {
    margin: 0 auto;
    min-height: 1.5rem;
    height: 100%; }
    #postArticleNav nav ul li {
      float: left;
      margin-left: 2.5rem;
      min-height: 1.5rem;
      height: 100%; }
      #postArticleNav nav ul li a {
        min-height: 1.5rem;
        vertical-align: middle;
        color: #999999;
        cursor: pointer;
        font-size: 1rem;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.75); }
        #postArticleNav nav ul li a:hover {
          color: #4298ba;
          transition: 1s; }
    #postArticleNav nav ul li:first-child {
      font-family: "Author";
      margin-left: 0.5rem; }
      #postArticleNav nav ul li:first-child a {
        font-size: 1.7rem;
        color: #4298ba; }

#postArticleMain {
  margin: 1.5rem auto;
  min-height: 30rem;
  padding: 2rem;
  width: 40rem;
  background: #fff;
  border: 1px solid #dbdfd6;
  box-shadow: 0 0.2rem 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem;
  opacity: 0; }
  @media screen and (min-width: 320px) and (max-width: 540px) {
    #postArticleMain {
      width: 20rem; } }
  #postArticleMain h3 {
    padding: 0;
    margin: 0;
    color: #84a099; }
  #postArticleMain div {
    margin-top: 1rem; }
    #postArticleMain div input {
      width: 15rem;
      height: 1.4rem;
      padding: 0.2rem 0;
      text-indent: 0.5rem;
      border-radius: 0.4rem;
      border: 1px solid #ccc; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #postArticleMain div input {
          width: 20rem;
          height: 1.8rem;
          font-size: 1.4rem; } }
      #postArticleMain div input:focus {
        outline: none;
        border: 1px solid #84a099; }
    #postArticleMain div textarea {
      width: 30rem;
      min-height: 10rem;
      font-size: 0.9rem;
      border-radius: 0.4rem;
      border: 1px solid #ccc;
      padding: 0.5rem; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #postArticleMain div textarea {
          width: 19rem;
          height: 12rem; } }
      #postArticleMain div textarea:focus {
        outline: none;
        border: 1px solid #84a099;
        border-radius: 0.4rem; }
    #postArticleMain div button {
      border: 1px solid transparent;
      display: inline-block;
      width: 3rem;
      height: 1.8rem;
      float: right;
      color: #fff;
      background-color: #8baf47;
      font-size: 0.65rem;
      letter-spacing: 0.2rem;
      border-radius: 0.4rem; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #postArticleMain div button {
          width: 4.5rem;
          height: 2.4rem; } }
      #postArticleMain div button:hover {
        transition: 1s;
        background: #00755E; }

/*# sourceMappingURL=index.css.map */
