@mixin pmClear {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'ExoThin';
    src: url('../font/ExoThin.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ExoRegular';
    src: url('../font/ExoRegular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
         url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before { content: "\e611"; }

.icon-douban:before { content: "\e612"; }

.icon-kanguo:before { content: "\e600"; }

.icon-xihuan:before { content: "\e601"; }

.icon-pinglun:before { content: "\e602"; }

.icon-rili:before { content: "\e610"; }

.icon-goushengxiao:before { content: "\e617"; }

.icon-liulan:before { content: "\e619"; }

.icon-liulan1:before { content: "\e603"; }

.icon-ux14006382562102623:before { content: "\e604"; }

.icon-github1:before { content: "\e613"; }

.icon-shijian:before { content: "\e61a"; }

.icon-zhankai:before { content: "\e605"; }

.icon-daohang:before { content: "\e606"; }

.icon-sousuo:before { content: "\e616"; }

.icon-icon:before { content: "\e607"; }

.icon-tag3:before { content: "\e61b"; }

.icon-fanhui:before { content: "\e618"; }

.icon-shouqi:before { content: "\e608"; }

.icon-huanyipi:before { content: "\e609"; }

.icon-pengyouquan:before { content: "\e60a"; }

.icon-xinlang:before { content: "\e60b"; }

.icon-weixin:before { content: "\e60c"; }

.icon-gengduo:before { content: "\e60d"; }

.icon-xihuan1:before { content: "\e60e"; }

.icon-fanhuidingbu:before { content: "\e614"; }

.icon-weibiaoti1:before { content: "\e615"; }

.icon-guanyuwo:before { content: "\e60f"; }



html {
    -webkit-text-size-adjust: none;
}
body {
    @include pmClear;
    height: 100%;
    background-color: #FCFAF2;
    background-image: url(../images/texture.png);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;        
    word-spacing: -1px;
    font-family: "ExoThin", Ubuntu,Consolas, "Microsoft YaHei", Verdana, Tahoma, Arial, sans-serif;
    font-weight: normal;                  
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}
ul {
    list-style: none;
    @include pmClear;
}
a {
    text-decoration: none;
}
i {
    cursor: pointer;
}
input {
    border: 0;
    &:focus {
        outline: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
    html {
        font-size: 67%!important;
    }
}
@media only screen and (min-width: 360px) and (max-width: 384px) {
    html {
        font-size: 80%!important;
    }
}
@media only screen and (min-width: 385px) and (max-width: 420px) {
    html {
        font-size: 90%!important;
    }
}
@media only screen and (min-width: 386px) and (max-width: 540px) {
    html {
        font-size: 86%!important;
    }
}
@media only screen and (min-width: 540px) and (max-width: 640px) {
    html {
        font-size: 85%!important;
    }
}
@media only screen and (min-width: 640px) and (max-width: 720px) {
    html {
        font-size: 100%!important;
    }
}
@media only screen and (min-width: 1024px){
    html {
        font-size: 120%!important;
    }
}
@media only screen and (min-width: 1366px){
    html {
        font-size: 125%!important;
    }
}
@media only screen and (min-width: 1920px){
    html {
        font-size: 195%!important;
    }
}

@-webkit-keyframes fadeOutInOutSwirl {
    0% {
        opacity: 1;
    }
    25% {
        transform: rotateZ(0deg); 
    }
    50% {
        transform: rotateZ(90deg); 
    }
    75% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes jellyShake {  
    0%, 100% {
        -webkit-transform: translateX(0);
    }  
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-2px);
    }  
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(2px);
    }  
}  
@-moz-keyframes jellyShake {  
    0%, 100% {
        -webkit-transform: translateX(0);
    }  
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-2px);
    }  
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(2px);
    }  
}
@-webkit-keyframes rocketShake {  
    0%, 100% {
        -webkit-transform: translateY(0);
    }  
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: 
        translateY(-2px);
        -webkit-color: #333;
    }  
    20%, 40%, 60%, 80% {
        -webkit-transform: 
        translateY(2px);
        -webkit-color: #333;
    }  
}

#container {
    position: relative;
    min-height: 100%;  
    height: auto !important;         
    height: 100%; 
}


#header {
    .wrapper {
        width: 100%;
        min-height: 16rem;
        height: auto;
        padding-bottom: 1rem;
        background: url("../images/header.gif") repeat #4c7298;
        box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
        .declare {
            text-align: center;
            padding-top: 4.2rem;
            @media screen and (min-width: 320px) and (max-width: 540px){
                padding-top: 3.3rem;
            }
            img {
                border-radius: 60%;
                width: 100px;
                height: 100px;
                cursor: pointer;
                -webkit-box-shadow: 0px 0px 25px #000000;
                -webkit-transition: -webkit-transform 0.4s ease-out;
                transition: transform 0.4s ease-out;
                -moz-transition: -moz-transform 0.4s ease-out;
                &:hover {
                    -webkit-box-shadow: 0 0 10px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
                    transform: rotateZ(360deg);
                    -webkit-transform: rotateZ(360deg);
                    -moz-transform: rotateZ(360deg);
                }
            }
            p {
                @include pmClear;
                padding-top: 0.7rem;
                vertical-align: top;
                font-weight: 300;
                font-size: 2rem;
                letter-spacing: .3rem;
                color: #fff;
                cursor: pointer;
                font-family: "ExoThin", Ubuntu,Consolas, "Microsoft YaHei", Verdana, Tahoma, Arial, sans-serif;
                @media screen and (min-width: 320px) and (max-width: 540px){
                    font-size: 1.6rem;
                }
                del {
                    font-size: 1rem;
                    @media screen and (min-width: 320px) and (max-width: 540px){
                        font-size: 1rem;
                    }
                    i {
                        color: #00AA90;
                        font-size: 1.2rem;
                        @media screen and (min-width: 320px) and (max-width: 540px){
                            font-size: 1rem;
                        }
                    }
                }
            }
            p:last-child {
                font-size: 1rem;
            }
        }
    }
}



#mainNav {
    width: 100%;
    height: 3rem;
    float: left;
    ul {
        margin: 0 auto;
        li {
            display: inline-block;
            margin: 1rem 0.8rem;
            a {
                display: block;
                color: #D9D9D9;
                font-size: 1.5rem;
                font-family: "ExoRegular";
                letter-spacing: 0.2rem;
                @media screen and (min-width: 1024px) and (max-width: 1920px) {
                    font-size: 1rem;
                }
                &:hover {
                    transition: .5s ease-out;
                    color: #E87A90;
                }
            }
        }
        li:last-child {
            float: right;
            form {
                input {
                    width: 0;
                    height: 0.8rem;
                    @media screen and (min-width: 320px) and (max-width: 540px){
                        height: 1.4rem;
                    }
                    border-radius: 10px;
                    padding: 0.25rem 0.3rem;
                    opacity: 0;
                    &:focus {
                        outline: none;
                    }
                }
                i {
                    color: #BDC0BA;
                    display: inline-block;
                    font-size: 1.5rem;
                    margin-left: 0.4rem;
                    @media screen and (min-width: 320px) and (max-width: 540px){
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

.floatNav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: .88;
    background-color: #FBFBFB;
    box-shadow: 0 0 2px #bbb;
    border-bottom: 1px solid #ccc;
}

#content {
    padding-bottom: 7rem;
    min-height: 20rem;
    height: auto;
    background-image: url('../images/texture.jpg');
    background-color: #F4F4F7;
}

#articles, .article {
    @include pmClear;
    margin: 0 auto;
    text-align: center;
    min-height: 8rem;
    padding-bottom: 3rem;
    aside {
        width: 5rem;
        vertical-align: top;
        display: inline-block;
        @media screen and (min-width: 320px) and (max-width: 540px) {
            display: none;
        }
        p {
            @include pmClear;
            width: 100%;
            height: 1.5rem;
            line-height: 1.5rem;
            color: #fbfbfb;
            font-size: 0.5rem;
            font-family: "ExoThin", Ubuntu,Consolas, "Microsoft YaHei", Verdana, Tahoma, Arial, sans-serif;
            font-weight: 300;
            text-align: left;
            border-radius: 3px;
            margin-bottom: 1rem;
            i {
                flaot: left;
                margin: 0 0.3rem;
            }
        }
        p:first-child  {
            background: #7ab277;
        }
        p:last-child {
            background: #9fa09c;
        }
    }
    article {
        margin: 0 auto;
        min-height: 7rem;        
        width: 40rem;
        @media screen and (min-width: 320px) and (max-width: 540px) {
            width: 92%;
            border-radius: 0;
        }
        color: #333;
        display: inline-block;
        background-color: #fff;
        border: 1px solid #aaa;
        border-top: 0;
        border-radius: 2px;
        -webkit-transition: all .6s ease-in;
        h2 {
            @include pmClear;
            padding: 0.25rem 0.5rem;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                padding: 0.5rem;
            }
            text-align: left;
            background-color: #4c7298;
            background-image: url('../images/texture.png');
            color: #eee;
            font-family: "ExoThin", "Microsoft YaHei UI light";
            font-size: 1.3rem;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                font-size: 1.8rem;
            }
            letter-spacing: 0.2rem;
            cursor: pointer;
            &:hover {
                transition: all 1s ease-out;
                text-shadow: 0.1rem 0.1rem 0.1rem #fff;
                color: #fff;
            }
        }
        p {
            @include pmClear;
            font-size: 0.7rem;
            font-family: "ExoRegular", Ubuntu,Consolas,"Microsoft YaHei",Verdana,Tahoma,Arial,sans-serif;;
            font-weight: 400;
            padding: 1rem;
            border-bottom: 1px solid #CCC;
            letter-spacing: 0.2rem;
            text-align: left;
            color: #333;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                font-size: 1.3rem;
                font-weight: 100;
                letter-spacing: 0.4rem;
            }
        }
        div {
            height: 2rem;
            font-size: 0.8rem;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                font-size: 1.2rem;
                height: 3rem;
                line-height: 3rem;
            }
            text-align: left;
            span {
                float: left;
                cursor: pointer;
                display: block;
                padding: 0.1rem 0.8rem;
                height: 100%;
                text-align: center;
                border-right: 1px solid #ccc;
                b {
                    line-height: 2rem;
                    font-weight: lighter;
                    font-family: "ExoRegular";
                }
            }
            span:last-child{
                float: right;
                border-right: 0;
                border-left: 1px solid #ccc;
                &:hover {
                    background-color: #0079bc;
                    transition: all 0.4s ease-in;
                }
            }
        }
    }
}

#articles:first-child, .article:first-child {
    margin-top: 4rem;
}

#duoshuoCommentForm {
    max-width: 40rem;
    margin: 0 auto;
    opacity: 0;
    @media screen and (min-width: 320px) and (max-width: 540px) {
        max-width: 25rem;
    }
    #ds-thread {
        #ds-reset {
            .ds-post-button {
                background-color: #5DAC81;
                color: #4298ba;
                font-family: "ExoThin";
            }
            .ds-sort {
                display:none;
            }
            .ds-avatar img {
                width:50px;
                height:50px; 
                border-radius: 50%;
                box-shadow: inset 0 -1px 0 #333;
                -webkit-transition: 0.4s;
                -webkit-transition: -webkit-transform 0.4s ease-out;
                transition: transform 0.4s ease-out;
                -moz-transition: -moz-transform 0.4s ease-out;
            }
            .ds-avatar img:hover{
                box-shadow: 0 0 10px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
                -webkit-box-shadow: 0 0 10px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
                transform: rotateZ(360deg);
                -webkit-transform: rotateZ(360deg);
                -moz-transform: rotateZ(360deg);
            }
            .ds-meta {
                display: none;
            }
            .ds-replybox .ds-avatar img {
                width: 35px;
                height: 35px; 
                border-radius: 50%;
            }
        }
    }
    .ds-recent-comments, .ds-powered-by{
        display: none;
    }
}

#footer {
    width: 100%;
    height: 5rem;
    padding: .5rem 0;
    background-color: #1C2429;
    background-image: url(../images/texture.png);
    p:first-child {
        color: #999;
    }
    p {
        margin: 1rem auto 0;
        text-align: center;
        vertical-align: baseline;
        font-family: "ExoThin";
        color: #BDC0BA;
        a {
            margin-left: 1rem;
            i {
                color: black;
                font-size: 1.3rem;
                cursor: pointer;
                &:hover {
                    -webkit-animation-name: jellyShake;  
                    -webkit-animation-duration: 1s;
                    transition: .6s ease-out;
                }
            }
        }
        a:first-child {
            margin-left: 0;
            font-size: 1.2rem;
        }
        a:nth-child(2) {
            i {
                color: #E6162D;
            }
        }
        a:nth-child(3) {
            i {
                color: #5DAC81;
            }
        }
        a:nth-child(4) {
            i {
                color: #FFC028;
            }
        }
    }
}


.toolBar {
    width: 100%;
    i {
        z-index: 4;
        font-size: 3rem;
        color: #505255;
        position: fixed;
        bottom: 1.2rem;
        transition: all .5s ease-in;
        @media screen and (min-width: 320px) and (max-width: 540px) {
            bottom: 5px;
        }
    }
    i:nth-child(1) {
        left: 5rem;
        @media screen and (min-width: 320px) and (max-width: 540px) {
            left: 3px;
        }
        &:hover {
            -webkit-animation-name: jellyShake;
            -webkit-animation-duration: .5s;
        }
    }
    i:nth-child(2) {
        right: 5rem;
        opacity: 0;
        @media screen and (min-width: 320px) and (max-width: 540px) {
            right: 3px;
        }
        &:hover {
            -webkit-animation-name: rocketShake;  
            -webkit-animation-duration: .5s;
        } 
    }
}


