@font-face {
  font-family: 'Author';
  src: url("../font/author.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'ExoThin';
  src: url("../font/ExoThin.woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ExoRegular';
  src: url("../font/ExoRegular.woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-github:before {
  content: "\e611"; }

.icon-douban:before {
  content: "\e612"; }

.icon-kanguo:before {
  content: "\e600"; }

.icon-xihuan:before {
  content: "\e601"; }

.icon-pinglun:before {
  content: "\e602"; }

.icon-rili:before {
  content: "\e610"; }

.icon-liulan:before {
  content: "\e603"; }

.icon-ux14006382562102623:before {
  content: "\e604"; }

.icon-github1:before {
  content: "\e613"; }

.icon-zhankai:before {
  content: "\e605"; }

.icon-daohang:before {
  content: "\e606"; }

.icon-icon:before {
  content: "\e607"; }

.icon-shouqi:before {
  content: "\e608"; }

.icon-huanyipi:before {
  content: "\e609"; }

.icon-pengyouquan:before {
  content: "\e60a"; }

.icon-xinlang:before {
  content: "\e60b"; }

.icon-weixin:before {
  content: "\e60c"; }

.icon-gengduo:before {
  content: "\e60d"; }

.icon-xihuan1:before {
  content: "\e60e"; }

.icon-fanhuidingbu:before {
  content: "\e614"; }

.icon-weibiaoti1:before {
  content: "\e615"; }

.icon-guanyuwo:before {
  content: "\e60f"; }

img {
  max-width: 100%;
  height: auto;
  width: auto; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  background-color: #FCFAF2;
  background-image: url(../images/texture.png); }

@media only screen and (min-width: 320px) and (max-width: 360px) {
  html {
    font-size: 70% !important; } }
@media only screen and (min-width: 360px) and (max-width: 384px) {
  html {
    font-size: 75% !important; } }
@media only screen and (min-width: 384px) and (max-width: 540px) {
  html {
    font-size: 90% !important; } }
@media only screen and (min-width: 540px) and (max-width: 640px) {
  html {
    font-size: 95% !important; } }
@media only screen and (min-width: 640px) and (max-width: 720px) {
  html {
    font-size: 100% !important; } }
@media only screen and (min-width: 1024px) {
  html {
    font-size: 120% !important; } }
@media only screen and (min-width: 1920px) {
  html {
    font-size: 125% !important; } }
#container {
  padding: 0;
  margin: 0; }

#signIn {
  width: 25rem;
  height: 20rem;
  padding-top: 2rem;
  text-align: center;
  border-radius: 0.3rem;
  margin: 6rem auto 0 auto;
  background: #fff;
  box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
  opacity: 0; }
  #signIn h1 {
    padding: 0;
    margin: 0;
    font-family: "Author";
    font-size: 1.3rem;
    color: #4298ba; }
  @media screen and (min-width: 320px) and (max-width: 540px) {
    #signIn {
      margin: 8rem auto;
      height: 25rem; } }
  #signIn div {
    width: 25rem;
    margin: 2rem auto; }
    @media screen and (min-width: 320px) and (max-width: 540px) {
      #signIn div {
        margin: 2.4rem auto; } }
    #signIn div input {
      width: 16rem;
      height: 2rem;
      font-size: 1.1rem;
      font-weight: bold;
      text-indent: 0.3rem;
      color: #1a1a1a;
      border: 1px solid #aaa;
      border-radius: 0.3rem;
      letter-spacing: 1px; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #signIn div input {
          width: 18rem;
          height: 2.6rem;
          font-size: 1.3rem;
          text-indent: 0.3rem; } }
      #signIn div input:focus {
        outline: none;
        border: 2px solid #95b99d;
        box-shadow: 0 1px 2px #95b93d; }
    #signIn div button {
      width: 16rem;
      height: 2.3rem;
      border: 0;
      border-radius: 0.3rem;
      background: #95b93d;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      color: #fff; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #signIn div button {
          width: 18rem;
          height: 2.6rem;
          font-size: 1.4rem;
          letter-spacing: 0.6rem; } }
      #signIn div button:focus {
        outline: hidden;
        transition: 1s ease-out;
        background: #4298ba; }
      #signIn div button:visited {
        outline: hidden;
        background: #00755E; }

#header .wrapper {
  width: 100%;
  min-height: 20rem;
  background-image: url("../images/background.jpg");
  background-size: cover; }
  #header .wrapper .declare {
    text-align: center;
    padding-top: 3rem; }
    #header .wrapper .declare h1 {
      padding: 0;
      margin: 0;
      font-family: 'Author';
      font-weight: 500;
      color: #fff;
      vertical-align: top;
      margin: 0.5rem 0 0 1rem;
      cursor: pointer; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #header .wrapper .declare h1 {
          display: inline-block; } }
      #header .wrapper .declare h1:hover {
        transition: 1s ease-out;
        color: #e84c3d; }
  #header .wrapper #mainNav {
    width: 20rem;
    height: 5rem;
    margin: 0 auto; }
    @media screen and (min-width: 320px) and (max-width: 540px) {
      #header .wrapper #mainNav {
        display: none; } }
    #header .wrapper #mainNav ul {
      width: 20rem;
      margin: 0 auto;
      padding: 0;
      margin: 0; }
      #header .wrapper #mainNav ul li {
        float: left;
        background-color: rgba(25, 25, 25, 0.4);
        margin: 1rem 1rem; }
        #header .wrapper #mainNav ul li a {
          padding: 0.5rem;
          color: #D9D9D9;
          font-size: 1.5rem; }
          @media screen and (min-width: 1024px) and (max-width: 1920px) {
            #header .wrapper #mainNav ul li a {
              font-size: 1rem; } }
          #header .wrapper #mainNav ul li a:hover {
            transition: 1s ease-out;
            background-color: rgba(25, 25, 25, 0.7); }
  #header .wrapper #phoneNavShowBtn {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: none;
    font-size: 2.2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer; }
    @media screen and (min-width: 320px) and (max-width: 540px) {
      #header .wrapper #phoneNavShowBtn {
        display: block; } }
    #header .wrapper #phoneNavShowBtn:hover {
      transition: 0.2s;
      font-size: 2.3rem; }
  #header .wrapper #phoneNav {
    width: 20rem;
    position: absolute;
    top: 0;
    left: -20rem;
    opacity: 0;
    display: block;
    background: #333;
    box-shadow: inset 0 0 5px 5px #222;
    z-index: 9999; }
    #header .wrapper #phoneNav ul {
      width: 100%; }
      #header .wrapper #phoneNav ul li {
        float: left;
        width: 100%;
        border-top: 1px solid #4d4d4d;
        border-bottom: 1px solid #1a1a1a;
        height: 3rem;
        cursor: pointer; }
        #header .wrapper #phoneNav ul li:hover {
          transition: 1s ease-out;
          box-shadow: inset 0 0 15px 3px #222; }
        #header .wrapper #phoneNav ul li input {
          float: left;
          height: 2rem;
          border: 0;
          border-radius: 0.8rem;
          padding-left: 0.5rem;
          margin: 0.2rem 0 0 2rem;
          color: #000000; }
          #header .wrapper #phoneNav ul li input:focus {
            outline: none; }
        #header .wrapper #phoneNav ul li #phoneNavHideBtn {
          cursor: pointer;
          font-size: 2rem; }
        #header .wrapper #phoneNav ul li #searchBtn {
          float: left;
          text-indent: 0.2rem;
          font-size: 2rem;
          padding: 0.2rem 0 0 0.6rem; }
        #header .wrapper #phoneNav ul li a {
          width: 100%;
          height: 100%;
          float: left;
          display: block;
          color: #dddddd;
          font-size: 1.2rem;
          line-height: 1.2rem;
          font-family: "Author";
          letter-spacing: 0.2rem; }

#articles, #article {
  margin: 0 auto;
  text-align: center; }
  #articles article, #article article {
    position: relative;
    margin: 3rem auto;
    padding-top: 0.4rem;
    max-heihgt: 30rem;
    overflow: hidden;
    width: 40rem;
    opacity: 0;
    background: #FCFAF2;
    border: 1px solid #aaa;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2); }
    @media screen and (min-width: 320px) and (max-width: 540px) {
      #articles article, #article article {
        width: 25rem; } }
    #articles article h2, #article article h2 {
      padding: 0;
      margin: 0;
      margin: 0.3rem 0 0 0.5rem;
      color: #515865;
      font-family: "ExoThin";
      letter-spacing: 0.2rem;
      cursor: pointer; }
      #articles article h2:hover, #article article h2:hover {
        transition: 1s color ease-out;
        text-shadow: 0.1rem 0.1rem 0.1rem #fff;
        color: #e32d40; }
      #articles article h2:visited, #article article h2:visited {
        transition: 1s;
        color: #e32d40; }
    #articles article p, #article article p {
      font-size: 0.8rem;
      font-family: "ExoRegular", 'Microsoft YaHei';
      font-weight: lighter;
      margin: 0.4rem 0.7rem 0 0.7rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #CCC;
      letter-spacing: 0.2rem;
      text-align: left;
      color: #505255; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #articles article p, #article article p {
          font-size: 1rem;
          font-weight: lighter; } }
    #articles article p:first-letter, #article article p:first-letter {
      float: left;
      font-size: 1.6rem;
      font-weight: lighter;
      color: #e32d40; }
    #articles article div, #article article div {
      font-size: 0.8rem;
      margin: 0.25rem 0.7rem;
      text-align: left; }
      #articles article div span, #article article div span {
        margin-left: 0.4rem;
        cursor: pointer; }
        #articles article div span b, #article article div span b {
          font-weight: lighter;
          font-family: "ExoRegular"; }
      #articles article div span:first-child, #article article div span:first-child {
        margin-left: 0; }

#goTop {
  height: 3rem;
  width: 100%; }
@-webkit-keyframes rocketShake {
  0%, 100% {
    -webkit-transform: translateY(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateY(-2px);
    -webkit-color: #333; }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateY(2px);
    -webkit-color: #333; } }
  #goTop a i {
    float: right;
    position: relative;
    right: 2rem;
    bottom: 1rem;
    font-size: 3rem;
    cursor: pointer; }
    #goTop a i:hover {
      -webkit-animation-name: rocketShake;
      -webkit-animation-duration: 1s; }

#footer {
  min-height: 5rem;
  width: 100%;
  background: #262a30;
  padding: 0.5rem 0; }
@-webkit-keyframes jellyShake {
  0%, 100% {
    -webkit-transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-2px); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(2px); } }
@-moz-keyframes jellyShake {
  0%, 100% {
    -webkit-transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-2px); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(2px); } }
  #footer p:first-child {
    color: #999; }
  #footer p {
    width: 30rem;
    margin: 1rem auto 0;
    font-family: "ExoThin";
    text-align: center;
    vertical-align: baseline; }
    #footer p a {
      margin-left: 1rem; }
      #footer p a i {
        color: black;
        font-size: 1.3rem;
        cursor: pointer; }
        #footer p a i:hover {
          -webkit-animation-name: jellyShake;
          -webkit-animation-duration: 1s;
          transition: .6s ease-out; }
    #footer p a:first-child {
      margin-left: 0;
      font-size: 1.2rem; }
    #footer p a:nth-child(2) i {
      color: #E6162D; }
    #footer p a:nth-child(3) i {
      color: #5DAC81; }
    #footer p a:nth-child(4) i {
      color: #FFC028; }

#postArticleNav {
  margin: 2rem auto;
  min-height: 1.5rem;
  width: 40rem;
  padding: 0 2rem; }
  #postArticleNav nav {
    margin: 0 auto;
    min-height: 1.5rem;
    height: 100%; }
    #postArticleNav nav ul li {
      float: left;
      margin-left: 2.5rem;
      min-height: 1.5rem;
      height: 100%; }
      #postArticleNav nav ul li a {
        min-height: 1.5rem;
        vertical-align: middle;
        color: #999999;
        cursor: pointer;
        font-size: 1rem;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.75); }
        #postArticleNav nav ul li a:hover {
          color: #4298ba;
          transition: 1s; }
    #postArticleNav nav ul li:first-child {
      font-family: "Author";
      margin-left: 0.5rem; }
      #postArticleNav nav ul li:first-child a {
        font-size: 1.7rem;
        color: #4298ba; }

#postArticleMain {
  margin: 1.5rem auto;
  min-height: 30rem;
  padding: 2rem;
  width: 40rem;
  background: #fff;
  border: 1px solid #dbdfd6;
  box-shadow: 0 0.2rem 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.4rem;
  opacity: 0; }
  @media screen and (min-width: 320px) and (max-width: 540px) {
    #postArticleMain {
      width: 20rem; } }
  #postArticleMain h3 {
    padding: 0;
    margin: 0;
    color: #84a099; }
  #postArticleMain div {
    margin-top: 1rem; }
    #postArticleMain div input {
      width: 15rem;
      height: 1.4rem;
      padding: 0.2rem 0;
      text-indent: 0.5rem;
      border-radius: 0.4rem;
      border: 1px solid #ccc; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #postArticleMain div input {
          width: 20rem;
          height: 1.8rem;
          font-size: 1.4rem; } }
      #postArticleMain div input:focus {
        outline: none;
        border: 1px solid #84a099; }
    #postArticleMain div textarea {
      width: 30rem;
      min-height: 10rem;
      font-size: 0.9rem;
      border-radius: 0.4rem;
      border: 1px solid #ccc;
      padding: 0.5rem; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #postArticleMain div textarea {
          width: 19rem;
          height: 12rem; } }
      #postArticleMain div textarea:focus {
        outline: none;
        border: 1px solid #84a099;
        border-radius: 0.4rem; }
    #postArticleMain div button {
      border: 1px solid transparent;
      display: inline-block;
      width: 3rem;
      height: 1.8rem;
      float: right;
      color: #fff;
      background-color: #8baf47;
      font-size: 0.65rem;
      letter-spacing: 0.2rem;
      border-radius: 0.4rem; }
      @media screen and (min-width: 320px) and (max-width: 540px) {
        #postArticleMain div button {
          width: 4.5rem;
          height: 2.4rem; } }
      #postArticleMain div button:hover {
        transition: 1s;
        background: #00755E; }

/*# sourceMappingURL=index.css.map */
