@mixin pmClear {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Author';
    src: url('../font/author.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Main';
    src: url('../font/main.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
         url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before { content: "\e610"; }

.icon-kanguo:before { content: "\e600"; }

.icon-xihuan:before { content: "\e601"; }

.icon-pinglun:before { content: "\e602"; }

.icon-liulan:before { content: "\e603"; }

.icon-ux14006382562102623:before { content: "\e604"; }

.icon-zhankai:before { content: "\e605"; }

.icon-daohang:before { content: "\e606"; }

.icon-icon:before { content: "\e607"; }

.icon-shouqi:before { content: "\e608"; }

.icon-huanyipi:before { content: "\e609"; }

.icon-pengyouquan:before { content: "\e60a"; }

.icon-xinlang:before { content: "\e60b"; }

.icon-weixin:before { content: "\e60c"; }

.icon-gengduo:before { content: "\e60d"; }

.icon-xihuan1:before { content: "\e60e"; }

.icon-guanyuwo:before { content: "\e60f"; }

img {
    max-width: 100%;
    height: auto;
    width: auto;
}
ul {
    list-style: none;
    @include pmClear;
}
a {
    text-decoration: none;
}
body {
    background: #D9D9D9;
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
    html {
        font-size: 70%!important;
    }
}
@media only screen and (min-width: 360px) and (max-width: 384px) {
    html {
        font-size: 75%!important;
    }
}
@media only screen and (min-width: 384px) and (max-width: 540px) {
    html {
        font-size: 90%!important;
    }
}
@media only screen and (min-width: 540px) and (max-width: 640px) {
    html {
        font-size: 95%!important;
    }
}
@media only screen and (min-width: 640px) and (max-width: 720px) {
    html {
        font-size: 100%!important;
    }
}
@media only screen and (min-width: 1024px){
    html {
        font-size: 120%!important;
    }
}
@media only screen and (min-width: 1920px){
    html {
        font-size: 125%!important;
    }
}
#signIn {
    width: 25rem;
    height: 20rem;
    padding-top: 2rem;
    text-align: center;
    border-radius: 0.3rem;
    margin: 6rem auto 0 auto;
    background: #fff;
    box-shadow: 0 0.6rem 0.6rem rgba(0,0,0,0.2);
    opacity: 0;
    h1 {
        @include pmClear;
        font-family: "Amatic-Bold";
        font-size: 3rem;
        color: #4298ba;
    }
    @media screen and (min-width: 320px) and (max-width: 540px){
        margin: 8rem auto;
        height: 25rem;
    }
    div {
        @mixin phoneInputBtn{
            width: 18rem;
            height: 2.6rem;
        }
        width: 25rem;
        margin: 2rem auto;
        @media screen and (min-width: 320px) and (max-width: 540px){
            margin: 2.4rem auto;
        }
        input {
            width: 16rem;
            height: 2rem;
            font-size: 1.1rem;
            font-weight: bold;
            text-indent: 0.3rem;
            color: #1a1a1a;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                @include phoneInputBtn;
                font-size: 1.3rem;
                text-indent: 0.3rem;
            }
            border: 1px solid #aaa;
            border-radius: 0.3rem;
            letter-spacing: 1px;
            &:focus {
                outline: none;
                border: 2px solid #95b99d;
                box-shadow:0 1px 2px #95b93d;
            }
        }
        button {
            width: 16rem;
            height: 2.3rem;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                @include phoneInputBtn;
                font-size: 1.4rem;
                letter-spacing: 0.6rem;
            }
            border: 0;
            border-radius: 0.3rem;
            background: #95b93d;
            text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
            color: #fff;
            &:focus {
                outline: hidden;
                transition: 1s ease-out;
                background: #4298ba;
            }
            &:visited {
                outline: hidden;
                background: #00755E;
            }
        }
    }
}



#header {
    .wrapper {
        width: 100%;
        min-height: 20rem;
        background-image: url("../images/background.jpg");
        background-size: cover;
        .declare {
            text-align: center;
            padding-top: 3rem;
            h1 {
                @include pmClear;
                font-family: 'Author';
                font-weight: 500;
                color: #fff;
                vertical-align: top;
                margin: 0.5rem 0 0 1rem;
                cursor: pointer;
                @media screen and (min-width: 320px) and (max-width: 540px){
                    display: inline-block;
                }
                &:hover {
                    transition: 1s ease-out;
                    color: #e84c3d;
                }
            }
        }
        #mainNav {
            width: 20rem;
            height: 5rem;
            margin: 0 auto;
            @media screen and (min-width: 320px) and (max-width: 540px){
                display: none;
            }
            ul {
                width: 20rem;
                margin: 0 auto;
                @include pmClear;
                li {
                    float: left;
                    background-color: rgba(25, 25, 25, 0.4);
                    margin: 1rem 1rem;
                    a {
                        padding: 0.5rem;
                        color: #D9D9D9;
                        font-size: 1.5rem;
                        @media screen and (min-width: 1024px) and (max-width: 1920px) {
                            font-size: 1rem;
                        }
                        &:hover {
                            transition: 1s ease-out;
                            background-color: rgba(25, 25, 25, 0.7);
                        }
                    }
                }
            }
        }
        #phoneNavShowBtn {
            position: absolute;
            left: 1rem;
            top: 1rem;
            display: none;
            font-size: 2.2rem;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            @media screen and (min-width: 320px) and (max-width: 540px){
                display: block;
            }
            &:hover {
                transition: 0.2s;
                font-size: 2.3rem;
            }
        }
        #phoneNav {
            width: 20rem;
            position: absolute;
            top: 0;
            left: -20rem;
            opacity: 0;
            display: block;
            background: #333;
            box-shadow: inset 0 0 5px 5px #222;
            ul {
                width: 100%;
                li {
                    float: left;
                    width: 100%;
                    border-top: 1px solid #4d4d4d;
                    border-bottom: 1px solid #1a1a1a;
                    height: 3rem;
                    cursor: pointer;
                    &:hover {
                        transition: 1s ease-out;
                        box-shadow: inset 0 0 15px 3px #222;
                    }
                    input {
                        float: left;
                        height: 2rem;
                        border: 0;
                        border-radius: 0.8rem;
                        padding-left: 0.5rem;
                        margin:0.2rem 0 0 2rem;
                        color: #000000;
                        &:focus {
                            outline: none;
                        }
                    }
                    #phoneNavHideBtn {
                        cursor: pointer;
                        font-size: 2rem;
                    }
                    #searchBtn {
                        float: left;
                        text-indent: 0.2rem;
                        font-size: 2rem;
                        padding: 0.2rem 0 0 0.6rem;
                    }
                    a {
                        width: 100%;
                        height: 100%;
                        float: left;
                        display: block;
                        color: #dddddd;
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                        font-family: "Author";
                        letter-spacing: 0.2rem;
                    }
                }
            }
        }
    }
}


#articles {
    margin: 0 auto;
    text-align: center;
    article {
        margin: 3rem auto;
        display: block;
        padding-top: 0.4rem;
        min-height: 10rem;
        width: 40rem;
        @media screen and (min-width: 320px) and (max-width: 540px) {
            width: 25rem;
        }
        background: #fff;
        border: 1px solid #aaa;
        border-radius: 0.6rem;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
        h2 {
            @include pmClear;
            margin: 0.4rem 0 0 0.5rem;
            color: rgb(81, 88, 101);
            font-family: "Author";
            cursor: pointer;
            &:hover {
                transition: 1s color ease-out;
                text-shadow: 0.1rem 0.1rem 0.1rem #fff;
                color: #e32d40;
            }
            &:visited {
                transition: 1s;
                color: #e32d40;
            }
        }
        p {
            min-height: 5rem;
            font-weight: lighter;
            margin: 1.1rem 0.7rem 0 0.7rem;
            border-bottom: 1px solid #CCC;
            letter-spacing: 0.1rem;
            text-align: left;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                font-size: 1.3rem;
            }
            &:hover {
                article {
                    box-shadow: 0px 0px 0.5rem rgba(68, 68, 68, 0.2);
                }
            }
        }
        p:first-letter {
            float: left;
            font-size: 2rem;
            font-weight: lighter;
            color: #e32d40;
        }
        div {
            font-size: 0.8rem;
            margin: 0.25rem 0.7rem;
            text-align: left;
            span {
                margin-left: 0.4rem;
                cursor: pointer;
            }
            span:first-child {
                margin-left: 0;
            }
        }
    }   
}


#postArticleNav {
    margin: 2rem auto;
    min-height: 1.5rem;
    width: 40rem;
    padding: 0 2rem;
    nav {
        margin: 0 auto;
        min-height: 1.5rem;
        height: 100%;
        ul {
            li {
                float: left;
                margin-left: 2.5rem;
                min-height: 1.5rem;
                height: 100%;
                a {
                    min-height: 1.5rem;
                    vertical-align: middle;
                    color: #999999;
                    cursor: pointer;
                    font-size: 1rem;
                    text-shadow: 1px 1px rgba(255,255,255,0.75);
                    &:hover {
                        color: #4298ba;
                        transition: 1s;
                    }
                }
            }
            li:nth-child(1) {
                font-family: "Author";
                margin-left: 0.5rem;
                a {
                    font-size: 1.7rem;
                    color: #4298ba;
                }
            }
        }
    }
}



#postArticleMain {
    margin: 1.5rem auto;
    min-height: 30rem;
    padding: 2rem;
    width: 40rem;
    @media screen and (min-width: 320px) and (max-width: 540px) {
        width: 20rem;
    }
    background: #fff;
    border: 1px solid #dbdfd6;
    box-shadow: 0 0.2rem 5px rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
    opacity: 0;
    h3 { 
        @include pmClear;
        color: #84a099;
    }
    div { 
        margin-top: 1rem;
        input {
            width: 15rem;
            height: 1.4rem;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                width: 20rem;
                height: 1.8rem;
                font-size: 1.4rem;
            }
            padding: 0.2rem 0;
            text-indent: 0.5rem;
            border-radius: 0.4rem;
            border: 1px solid #ccc;
            &:focus{
                outline:none;
                border: 1px solid #84a099;
            }
        }
        textarea {
            width: 30rem;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                width: 19rem;
                height: 12rem;
            }
            min-height: 10rem;
            font-size: 0.9rem;
            border-radius: 0.4rem;
            border: 1px solid #ccc;
            padding: 0.5rem;
            &:focus {
                outline: none;
                border: 1px solid #84a099;
                border-radius: 0.4rem;
            }
        }
        button {
            border: 1px solid transparent;
            display: inline-block;
            width: 3rem;
            height: 1.8rem;
            float: right;
            @media screen and (min-width: 320px) and (max-width: 540px) {
                width: 4.5rem;
                height: 2.4rem;
            }
            color: #fff;
            background-color: #8baf47;
            font-size: 0.65rem;
            letter-spacing: 0.2rem;
            border-radius: 0.4rem;
            &:hover {
                transition: 1s;
                background: #00755E;
            }
        }
    }
}

