	
		<script type="text/javascript">
			var duoshuoQuery = {short_name:"excelsior"};
		</script>
	</body>

	<script src="/libs/jquery-1.11.0.js"></script>
	<script src="/libs/underscore.js"></script>
	<script src="/libs/backbone.js"></script>
	<script src="/libs/serialize.js"></script>
	<script src="/libs/jquery.easing.1.3.js"></script>
	<script src="/libs/jquery.cookie.js"></script>
	<script src="/libs/date.js"></script>
	<script src="/libs/embed.js"></script>
	<script src="/js/HomeModel.js"></script>
	<script src="/js/AdminModel.js"></script>
	<script src="/js/Collection.js"></script>
	<script src="/js/HomeView.js"></script>
	<script src="/js/AdminView.js"></script>
	<script src="/js/Router.js"></script>
	<script src="/js/Function.js"></script>
	<script src="/js/Config.js"></script>
	<script>
	   $(function(){
	      	Backbone.history.start();
	   })
	</script>
	
</html>
