<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{= title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
		<meta name="full-screen" content="yes">
		<meta name="x5-fullscreen" content="true">
		<meta name="description" content="Excelsior博客">
		<link rel="shortcut icon" href="/blog.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/index.css"/>
		<link rel='stylesheet' href='http://www.youziku.com/webfont/CSS/02385a184e513aa69ea538de415dd932'/>
	</head>
	
	<body>



