extends ./layout/layout
block content

  #container


  script(type='text/template', id='T_SignIn')
    section
      #signIn
        h1 Welcome &nbsp; To &nbsp; Excelsior &nbsp; Blog
        form#signInForm
          div
            input(type="text" id="user_name" name="user_name" placeholder="请输入你的用户名" tabindex="1" autocomplete="off")
          div
            input(type="password" id="password" name="password" placeholder="请输入你的密码" tabindex="2" autocomplete="off")
          div
            button#signInBtn 登录

  script(type="text/template", id="T_Index")
    header#header
      .wrapper
        .declare
          img(src="/images/face.png")
          h1 一百个梦里九十九个有你
        .nav
          nav#mainNav
            ul
              li
                a(href="javascritp:void(0)") 杂谈
              li
                a(href="javascritp:void(0)") 记录
              li
                a(href="javascritp:void(0)") 关于
          i#phoneNavShowBtn.iconfont &#x343a;
          nav#phoneNav
            ul
              li
                i#phoneNavHideBtn.iconfont &#xf003e;
              li
                input(type="text", name="search", id="search")
                i#searchBtn.iconfont &#xf00a8;
              li
                a(href="javascritp:void(0)") 杂谈
              li
                a(href="javascritp:void(0)") 记录
              li
                a(href="javascritp:void(0)") 关于
    section#articles
      article
        h2 这是标题一
        p  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容文章内容
      article
        h2 这是标题一
        p  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容文章内容
      article
        h2 这是标题一
        p  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容文章内容
      article
        h2 这是标题一
        p  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容文章内容
      article
        h2 这是标题一
        p  内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容文章内容


  script(type="text/template", id="T_AdminIndex")
    section
      p 12345612456

  script(type="text/template", id="T_PostArticle")
    header#postArticleNav
      nav
        ul
          li
            a Blog
          li
            a 首页
          li
            a 发表
          li
            a 管理

    section#postArticle
      h3 发表新文章
      button
      form#postArticleForm
        div
          input(type="text" name="title" tabindex="1" autocomplete="off")
        div
          textarea(name="content" id="content" placeholder="请输入内容")
        div
          button#postArticleBtn 发表









